{
    "presets": [
      "next/babel"
    ],
    "plugins": [
      [
        "styled-components",
        {
          "ssr": true,
          "displayName": true,
          "preprocess": false
        },

        "module-resolver",
        {
          "alias": {
            "@modules": "./modules",
            "@components": "./components",
            "@layout": "./layout",
            "@actions": "./actions",
            "@actionTypes": "./actionTypes",
            "@static": "./static",
            "@store": "./store",
            "@sagas": "./sagas",
            "@reducers": "./reducers",
            "@dummy": "./dummy"
          }
        }
      ]
    ]
}
