.text-drink {
}
.text-drink a {
  color: var(--text);
  text-decoration: none;
}
.text-drink a > h6 {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  margin-top: 25px;
}

.card {
  /* height: 25rem;*/
  width: 250px;
}
.cardImage {
  position: relative;
  display: block;
  cursor: pointer;
}
.cardImage::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 1;
  transition: 0.3s ease-out;
}
.card:hover .cardImage::after {
  opacity: 0;
}
.cardImage img {
  width: 100%;
  object-fit: cover;
  height: 250px;
}

.slider {
  padding: 50px 0;
}

.price {
  font-size: 16px;
  color: #fff;
  text-align: center;
}
