.news {
}
.news-content {
  display: flex;
  justify-content: space-between;
}

.news-item {
  width: 360px;
}
.news-img {
  height: 270px;
  margin-bottom: 30px;
  cursor: pointer;
}
.news-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.news-text a > h6 {
  color: var(--text);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 200;
  font-size: 18px;
  margin-bottom: 10px;
}
.news p {
  color: var(--description);
  font-size: 16px;
  line-height: 1.4;
  padding-bottom: 15px;
  margin-bottom: 15px;
  
}

